<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- minimum level which we emit on console-->
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss} %level %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/clojure-web-app.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>log/clojure-web-app-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>10</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>{ :time #inst "%d{yyyy-MM-dd'T'HH:mm:ss.SSS'Z'}", :host "${HOSTNAME}", :level "%level", :logger "%logger{36}", :content %msg }%n</pattern>
        </encoder>
    </appender>

    <logger name="jwt-auth-service" level="INFO"/>

    <root level="INFO"> <!-- all other classes minimum level-->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>